:root {
    color-scheme: light dark;
    --bg-color: light-dark(BG_COLOR_DARK, BG_COLOR_LIGHT);
    --fg-color: light-dark(FG_COLOR_DARK, FG_COLOR_LIGHT);
    --link-color: light-dark(LINK_COLOR_DARK, LINK_COLOR_LIGHT);
    --border-color: light-dark(BORDER_COLOR_DARK, BORDER_COLOR_LIGHT);
    --item-selected-color: light-dark(
        SELECTION_COLOR_DARK,
        SELECTION_COLOR_LIGHT
    );
    --font: "Arial";
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
}

#container {
    display: flex;
    gap: 20px;
}

#page_navigation,
#page_content {
    padding: 20px;
    border: 2px solid var(--border-color);
}

a:hover {
    background-color: var(--item-selected-color);
    color: white;
    cursor: pointer;
}

a {
    color: var(--link-color);
    background-color: transparent;
}
